<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body style = "background-color:grey" align = "center">
    <form>
        <input type="button" onclick="window.location.href='register';" value="Register"  style = 'background-color:greenyellow'>

        <input type="button" onclick="window.location.href='login';" value="Login"  style = 'background-color:greenyellow'/>

    </form>

</body>

</html>