<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body style = "background-color:grey" align = "center">
    <h1 style = 'color : greenyellow'>Hello {{o}} !!!</br>Your account has been successfully registered.Please proceed to Login.</h1>
    <form>

        <input type="button" onclick="window.location.href='login';" value="Login"
            style='background-color:greenyellow' />

    </form>


</body>

</html>